@charset "UTF-8";
main .box{
    display: flex;
    margin-bottom: 51px;
}
.box .img{
    width: 50%;
}

main ul li a{
    text-decoration: none;
    color: rgb(90, 88, 88);
}

.box .text{
    width: 50%;
    padding-left: 23px;
}
.box .text2{
    width: 50%;
    padding-right: 8px ;
}

main h1{
    background: linear-gradient(transparent 70%, #abf3fa54 70%);
}

.text p{
    font-size: 40px;
}

.toP {
    color: #333;
    position: fixed;
    bottom: 24px;
    right: 80px;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 16px 20px;
    text-align: right;
    transform: rotate(90deg);
    transform-origin: bottom right;
  }
  
  .arrow1 {
  width: 48px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  right: 62px;
  margin-top: 5px;
  }
  

  .qa-6{
    margin: 0 auto;
}


.qa{
    font-size: 20px;
}


.qa-6 {
    max-width: 800px;
    margin-bottom: 5px;
    border-bottom: 2px solid #d6dde3;
}

.qa-6 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em 1em 3em;
    color: #080808;
    font-weight: 600;
    cursor: pointer;
}

.qa-6 summary::before,
.qa-6 p::before {
    position: absolute;
    left: 1em;
    font-weight: 600;
    font-size: 1.3em;
}

.qa-6 summary::before {
    color: #75bbff;
    content: "Q";
}

.qa-6 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #080808b3;
    border-right: 3px solid #080808b3;
    content: '';
    transition: transform .5s;
}

.qa-6[open] summary::after {
    transform: rotate(225deg);
}

.qa-6 p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 3em 1.5em;
    color: #333;
    transition: transform .5s, opacity .5s;
}

.qa-6[open] p {
    transform: none;
    opacity: 1;
}

.qa-6 p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: "A";
}

h3 {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 0 55px;
    display: flex;
    align-items: center;
  }
  
h3:before,
h3:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
h3:before {
    margin-right: 1rem;
}
h3:after {
    margin-left: 1rem;
}
.font{
    font-size: 47px;
}
.text h2{
    text-align: center;
}
.container{
    padding-left: 10px;
}
footer{
    margin-top: 17px;
}